:root {
    --iris: #4d5ae5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    --font-h1: 56px;
    --font-h2: 36px;
    --font-h3: 20px;
    --font-body: 16px;
    --font-small: 12px;
    --line-height-body: 1.5;
    --line-height-h1: 1.07;
    --letter-spacing-body: 0.32px;
    --letter-spacing-h1: 1.12px;
    --line-height-h2: 1.11;
    --letter-spacing-h2: 0.72px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px
}

header {
    padding: 16px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1158px;
}

h1 {

    font-size: var(--font-h1);
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing-h1);
    font-weight: bold;
}

.logo,
.logo2 {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.logo span {
    color: var(--navy-blue);
}

.menu ul,
address ul {
    display: flex;
    gap: 48px;
    padding: 0;
    align-items: center;
}

.menu ul li a,
address ul li a {
    color: var(--navy-blue);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu ul li a:hover,
address ul li a:hover {
    color: var(--ocean);
}

.menu ul li a.cizgi
{
    color: var(--iris);
    position: relative;
}

.menu ul li a.cizgi::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--iris);
    border-radius: 2px;
    bottom: -20px;
}

.hero {
    width: 1440px;
    height: 600px;
    background-color: var(--navy-blue);
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-image:
           
            url("../images/office.jpg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: cover;
        position: relative;

}

.hero .dark-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2E2F42;
    opacity: .7;
}

.hero .container {
    z-index: 999;
}

.hero .title {
    color: var(--white);
    margin-bottom: 48px;
}

.order-button {
    background-color: var(--iris);
    color: var(--white);
    cursor: pointer;
    border: none;
    width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
    background-color: var(--ocean);
}

.team {
    background-color: var(--cloud);
    
}

.strategy,
.team,
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.strategy ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 24px;
}

.strategy ul li {
    width: 264px;
}

.strategy ul li h3 {
    color: var(--navy-blue);
    font-family: "Roboto" sans-serif;
    font-size: var(--font-h3);
    line-height: 1, 2;
    letter-spacing: 0, 4;
    margin-bottom: 8px;
}

.strategy ul li p,
.team ul li p,
.portfolio ul li p {
    color: var(--slate)
}

.team .title,
.portfolio .title {
    font-size: var(--font-h2);
    color: var(--navy-blue);
    line-height: var(--line-height-h2);
    letter-spacing: var(--letter-spacing-h2);
    font-weight: bold;
}

.team .title {
    margin-bottom: 40px;
    text-align: center;

}

.portfolio .title {
    margin-bottom: 40px;
    text-align: center;
}

.team ul{
    color: #2E2F42;
    margin-top: 72px;
}

.portfolio ul {
    background-color: var(--white);
    color: #2E2F42;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
    margin-top: 72px;
}

.portfolio ul li {
    width: calc((100% - 48px) / 3);
    border: none;
}

.portfolio ul li img {
    max-width: 100%;
    display: block;
}

.border {
    border-left: 1px solid var(--cornflower);
        border-right: 1px solid var(--cornflower);
        border-bottom: 1px solid var(--cornflower);
        padding: 16px;
}

.team ul {
    display: flex;
    padding: 0;
    gap:24px;
}

.team ul li {
    width: calc((100% - 72px) / 4);
   background-color: var(--white);
width: 264px;
    height: 428px;
}




.team ul li h3,
.portfolio ul li h3 {
    font-family: "Roboto" sans-serif;
    font-size: var(--font-h3);
    line-height: 1.2;
    letter-spacing: 0.4;
    color: var(--navy-blue);
    padding: 16px;
}

.team ul li h3,
.team ul li p {
    text-align: center;
}

.portfolio ul li h3 {
    padding: 16px;
    text-align: left;
}

.portfolio ul li p {
    text-align: left;
    padding: 16px;
}

.footer {

    color: var(--cloud);
    padding: 40px 0;
    background-color: var(--navy-blue);
   
}


.footer-container {
    display: flex;
    height: 312px;
    align-items: flex-start;
   
    gap: 16px;
    max-width: 1158px;
    padding-left: 16px;
        padding-right: 16px;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }

.logo2 span {
    color: var(--cloud);
}



.icon-antenna, .icon-clock, .icon-diagram, .icon-astronaut {
    width: 64px;
    height: 64px;
}

.iconlarim {
    border: 1px solid #8E8F99;
    display: flex;
    width: 264px;
    height: 112px;
    gap: 24px;
    border-radius: 4px;
    background-color: var(--cloud);
    justify-content: center;
    align-items: center;
    transition:
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


        .sosyal {
         padding-left: 16px;
         padding-right: 16px;
        
        }
    
        .sosyal .sosyal-medya {
            display: flex;
            gap: 24px;
            margin-top: 8px;
        }

        .sosyal .sosyal-medya .sosyal-medya-item {
border-radius: 50%;
list-style-type: none;
width: 40px;
height: 40px;
background-color: #4D5AE5;
display: flex;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        }
    
.sosyal .sosyal-medya .sosyal-medya-item .icon-twitter, .icon-instagram, .icon-facebook, .icon-linkedin {
    width: 16px;
    height: 16px;
}

.sosyal-medya-item {
    transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sosyal-medya-item:hover,
.sosyal-medya-item:focus {
    transform: scale(1.1);
}

.footer-brand{
 margin-right: 120px;
}

.footer-brand p , .footer .sosyal-medya {
    margin-top: 16px;
}



.portfolio-thumb {
    position: relative;
    width: 360px;
    cursor: pointer;
    overflow: hidden;
}

.portfolio-thumb img {
    display: block;
    width: 100%;
}

.portfolio-thumb .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:var(--iris);
    /* iris mavi */
    color: white;
    padding: 40px 32px 164px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    display: none;
}

.portfolio-thumb:hover .overlay {
    display: block;
}

.portfolio-thumb .overlay p {
    color: white;
font-family: "Roboto", sans-serif;
    
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-body);
    font-weight: 400;
        font-size: 14px;
}