:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --font-h1: 56px;
  --font-h2: 36px;
  --font-h3: 20px;
  --font-body: 16px;
  --font-small: 12px;
  --line-height-body: 1.5;
  --line-height-h1: 1.07;
  --letter-spacing-body: 0.32px;
  --letter-spacing-h1: 1.12px;
  --line-height-h2: 1.11;
  --letter-spacing-h2: 0.72px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

header {
  padding: 16px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

h1 {
  font-size: var(--font-h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
  font-weight: bold;
}

.logo,
.logo2 {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.logo span {
  color: var(--navy-blue);
}


.menu-button {
  position: relative;
  right: 16px;

  z-index: 1001;
  cursor: pointer;
}


.mobil-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
  padding: 40px 20px;
}


#mobil-menu-toggle:checked + .menu-button + .mobil-menu {
  transform: translateX(0);
}

.icon-menu {
  width: 16.8px;
  height: 14.4px;
}

.menu ul,
.mobil-adres ul {
  display: flex;
  gap: 48px;
  padding: 0;
  align-items: center;
  display: none;
}

.menu ul li a,
.mobil-adres ul li a {
  color: var(--navy-blue);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu ul li a:hover,
.mobil-adres ul li a:hover {
  color: var(--ocean);
}

.menu ul li a.cizgi {
  color: var(--iris);
  position: relative;
}

.menu ul li a.cizgi::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--iris);
  border-radius: 2px;
  bottom: -20px;
}

.mobil-list {
  padding-bottom: 168px;
}

.mobil-list ul {
  margin: 72px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobil-list ul li a {
  font-size: var(--font-h2);
  line-height: 1.11px;
  letter-spacing: 0.72px;
  transition: color 0.3s ease;
}

.mobil-list ul li a:hover,
.mobil-list ul li a:focus,
.mobil-list ul li a:active {
  color: var(--iris);
  
}

.mobil-menu address ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  transition: color 0.3s ease;
}

.mobil-menu ul a:hover,
.mobil-menu ul a:focus,
.mobil-menu ul a:active {
  color: var(--iris);
  
}

.menu-close {
  position: relative;
  right: 16px;
  top: 16px;
  cursor: pointer;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.menu-close {
  display: none;
}

#mobil-menu-toggle:checked + .menu-button .icon-menu {
  display: none;
}

#mobil-menu-toggle:checked + .menu-button .menu-close {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: auto;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  header {
    padding: 16px 0;
    height: 72px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    font-size: var(--font-h1);
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing-h1);
    font-weight: bold;
  }

  .logo,
  .logo2 {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-decoration: none;
  }

  .logo span {
    color: var(--navy-blue);
  }

  .menu ul {
    display: flex;
    gap: 48px;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .mobil-adres ul {
    display: flex;
    flex-direction: column;
    /* Alt alta */
    align-items: flex-end;
    /* Sağa hizalı */
    gap: 4px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu ul li a,
  .mobil-adres ul li a {
    color: var(--navy-blue);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu ul li a:hover,
  .mobil-adres ul li a:hover {
    color: var(--ocean);
  }

  .menu ul li a.cizgi {
    color: var(--iris);
    position: relative;
  }

  .menu ul li a.cizgi::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--iris);
    border-radius: 2px;
    bottom: -20px;
  }

  .mobil-menu,
  .menu-button {
    display: none;
  }
}

.hero {
  width: 100%;
  margin: 0 auto;
  height: 432px;
  background-color: var(--navy-blue);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background-image: url("../images/office.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.hero .dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e2f42;
  opacity: 0.7;
}

.hero .container {
  z-index: 999;
}

.hero .title {
  color: var(--white);
  margin-bottom: 48px;
}

.order-button {
  background-color: var(--iris);
  color: var(--white);
  cursor: pointer;
  border: none;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover {
  background-color: var(--ocean);
}

.team {
  background-color: var(--cloud);
}

.strategy,
.team,
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  width: 100%;
}

.strategy ul {
  display: flex;
  flex-direction: column;
  height: 696px;
  padding: 0;
  margin: 0;
  gap: 72px;
  width: 100%;
}

.strategy ul li {
  width: 100%;
}

.strategy ul li h3 {
  color: var(--navy-blue);
  font-family: "Roboto" sans-serif;
  font-size: var(--font-h2);
  line-height: 1.11px;
  letter-spacing: 0.72px;
  margin-bottom: 28px;
  text-align: center;
}

.strategy ul li p,
.team ul li p,
.portfolio ul li p {
  color: var(--slate);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .strategy,
  .strategy ul,
  .strategy ul li {
    width: auto;
  }

  .strategy {
    margin-bottom: 96px;
  }

  .strategy ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 sütun */
    gap: 72px 24px;
    /* satırlar ve sütunlar arası boşluk */
    list-style: none;
    padding: 0;
    margin: 0;
    height: 312px;
  }

  .strategy ul li {
    display: flex;
    flex-direction: column;
    width: 356px;
    height: 120px;
  }

  .strategy ul li h3 {
    text-align: left;
  }
}

.team .title,
.portfolio .title {
  font-size: var(--font-h2);
  color: var(--navy-blue);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-h2);
  font-weight: bold;
}

.team .title {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio .title {
  margin-bottom: 40px;
  text-align: center;
}

.team ul {
  color: #2e2f42;
  margin-top: 72px;
}

.border {
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  padding: 16px;
}

.team .container {
  padding-left: 28px;
  padding-right: 28px;
  text-align: center;
}

.team ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 24px;
  justify-content: center;
}

.team ul li {
  background-color: var(--white);
  width: 264px;
  height: 428px;
  margin-bottom: 72px;
}

.team ul li h3,
.portfolio ul li h3 {
  font-family: "Roboto" sans-serif;
  font-size: var(--font-h3);
  line-height: 1.2;
  letter-spacing: 0.4;
  color: var(--navy-blue);
  padding: 16px;
}

.team ul li h3,
.team ul li p {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team,
  .portfolio {
    width: auto;
  }

  .team ul,
  .portfolio .container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

.portfolio-container {
  text-align: center;
}

.portfolio ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin-top: 72px;
  background-color: var(--white);
  color: #2e2f42;
  justify-content: center;
}

.portfolio ul li img {
  max-width: 100%;
  display: block;
}

.portfolio ul li h3 {
  padding: 16px;
  text-align: left;
}

.portfolio ul li p {
  text-align: left;
  padding: 16px;
}

.portfolio-thumb {
  position: relative;
  width: 288px;
  cursor: pointer;
  overflow: hidden;
}

.portfolio-thumb img {
  display: block;
  width: 100%;
}

.portfolio-thumb .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--iris);
  /* iris mavi */
  color: white;
  padding: 40px 32px 164px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  display: none;
}

.portfolio-thumb:hover .overlay {
  display: block;
}

.portfolio-thumb .overlay p {
  color: white;
  font-family: "Roboto", sans-serif;

  line-height: var(--line-height-body);
  letter-spacing: var(--letter-spacing-body);
  font-weight: 400;
  font-size: 14px;
}

.icon-antenna,
.icon-clock,
.icon-diagram,
.icon-astronaut {
  width: 64px;
  height: 64px;
}

.backdrop {
  position: fixed;
  /* absolute değil, fixed olacak */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 584px;
  background: #fff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.modal {
  position: fixed;
  width: calc(100% - 32px);
  max-width: 100%;
  height: 623px;
  background: #fff;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  padding: 24px 16px;
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
}

.modal h2 {
  margin-top: 50px;
  margin-bottom: 16px;
}

.modal form {
  margin-top: 16px;
  max-width: 256px;
  margin: 0 auto;
}

.modal form label > span {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
  margin: 4px 0;
  display: flex;
  align-items: center;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon-wrapper .icon {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
}

.input-icon-wrapper input {
  padding-left: 40px;
}

.modal form input[type="text"],
.modal form input[type="tel"],
.modal form input[type="email"] {
  width: 256px;
  height: 40px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  padding: 8px 12px;
  box-sizing: border-box;
}

.modal form textarea {
  width: 256px;
  height: 120px;
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  padding: 8px 12px;
  box-sizing: border-box;
  resize: none;
}

.modal form input:focus,
.modal form textarea:focus {
  border: 2px solid var(--iris);
  outline: none;
}

.send-btn {
  width: 169px;
  height: 56px;
  margin-top: 24px;
  border-radius: 4px;
  padding: 16px 32px;
  color: white;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms ease, transform 250ms ease;
}

.send-btn:hover {
  background-color: var(--ocean);
  transform: scale(1.01);
}

.policy {
  color: var(--iris);
  text-decoration: underline;
  margin-left: 4px;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  vertical-align: middle;
}

.hero-wrapper {
  position: relative;
  z-index: 0;
}

.hero-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  transition: opacity 250ms ease-in-out;
  pointer-events: none;
  z-index: 1;
}

#form-toggle:checked + .hero-wrapper::before {
  opacity: 1;
  pointer-events: auto;
}

#form-toggle:checked + .hero-wrapper .backdrop {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .modal {
    position: fixed;
    width: calc(100% - 360px);
    max-width: 100%;
    height: 623px;
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    padding: 24px 16px;
  }
}

.footer {
  color: var(--cloud);
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--navy-blue);
}

.footer-container {
  display: flex;
  flex-direction: column;
  height: 664px;
  width: 100%;
  gap: 72px;
  margin: 0 auto;
}

.logo2 {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 17.5px;
}

.logo2 span {
  color: var(--cloud);
}

.footer-container .sosyal {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-top: 72px;
}

.subscribe-title {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  text-align: center;
  margin-top: 72px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: transparent;
  display: block;
  margin: auto;
  margin-bottom: 16px;
}

.subscribe-button {
  width: 140px;
  height: 40px;
  background-color: #4d5ae5;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  padding: 8px 16px;
  display: block;
  margin: auto;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.iconlarim {
  border: 1px solid #8e8f99;
  display: flex;
  width: 264px;
  height: 112px;
  gap: 24px;
  border-radius: 4px;
  background-color: var(--cloud);
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.sosyal {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.sosyal .sosyal-medya {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.sosyal .sosyal-medya .sosyal-medya-item {
  border-radius: 50%;
  list-style-type: none;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sosyal .sosyal-medya .sosyal-medya-item .icon-twitter,
.icon-instagram,
.icon-facebook,
.icon-linkedin {
  width: 16px;
  height: 16px;
}

.sosyal-medya-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sosyal-medya-item:hover,
.sosyal-medya-item:focus {
  transform: scale(1.1);
}

.input-icon-wrapper:focus-within .icon {
  fill: var(--iris);
}

.input-icon-wrapper input {
  padding-left: 37px !important;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    height: 456px;
    width: auto;
    margin: 0 auto;
  }

  .footer-brand {
    display: block;
    margin-top: 75px;
    padding-left: 50px;
    max-width: 312px;
    max-height: 112px;
  }

  .footer-brand .logo2 {
    text-align: left;
  }

  .footer-brand p {
    text-align: left;
  }

  .sosyal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 96px;
  }

  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
  }

  .subscribe-button {
    margin: 0;
  }

  .subscribe-title {
    text-align: left;
    padding-left: 45px;
  }

  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    gap: 16px;
  }

 
  .subscribe-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: transparent;
    margin-left: 30px;
 
    margin-right: 50px;
  }

  
  .subscribe-button {
    width: 140px;
    height: 40px;
    background-color: #4d5ae5;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    padding: 8px 16px;
    margin-top: 0px;
    /* ← Yukarıya çeker */
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: auto;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  header {
    padding: 0 0;
    height: 72px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 auto;
    padding-left: 156px;
    padding-right: 156px;
    height: 100%;
  }

  h1 {
    font-size: var(--font-h1);
    line-height: var(--line-height-h1);
    letter-spacing: var(--letter-spacing-h1);
    font-weight: bold;
  }

  .logo,
  .logo2 {
    color: var(--iris);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-decoration: none;
  }

  .logo span {
    color: var(--navy-blue);
  }

  .menu ul {
    display: flex;
    gap: 48px;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .mobil-adres ul {
    display: flex;

    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu ul li a,
  .mobil-adres ul li a {
    color: var(--navy-blue);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu ul li a:hover,
  .mobil-adres ul li a:hover {
    color: var(--ocean);
  }

  .menu ul li a.cizgi {
    color: var(--iris);
    position: relative;
  }

  .menu ul li a.cizgi::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--iris);
    border-radius: 2px;
    bottom: -20px;
  }

  .mobil-menu,
  .menu-button {
    display: none;
  }

  .backdrop {
    position: fixed;
    /* absolute değil, fixed olacak */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584px;
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    z-index: 1000;
  }

  .input-icon-wrapper:focus-within .icon {
    fill: var(--iris);
  }

  .input-icon-wrapper input {
    padding-left: 37px !important;
  }

  .strategy {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    width: 100%;
  }

  .strategy .container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .strategy ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    height: 224px;
  }

  .strategy ul li {
    width: 264px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .iconlarim {
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud);
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-antenna,
  .icon-clock,
  .icon-diagram,
  .icon-astronaut {
    width: 64px;
    height: 64px;
    fill: var(--iris);
  }

  .strategy ul li h3 {
    color: var(--navy-blue);
    font-family: "Roboto" sans-serif;
    font-size: var(--font-h3);
    line-height: 1.2;
    letter-spacing: 0.4;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .strategy ul li p,
  .team ul li p,
  .portfolio ul li p {
    color: var(--slate);
  }

  .team .container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    
  }

  .team ul {
    display: flex;
    flex-wrap: nowrap;
    /* 4'ü aynı satırda kalacak */
    gap: 24px;
    justify-content: space-between;
    padding: 0;
  }

  .team ul li {
    background-color: var(--white);
    width: 264px;
    height: 428px;
  }
  
.portfolio-thumb {
  
  width: 100%;
 
}

.portfolio ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1158px;
  align-items: center;
  margin-left: auto;
    margin-right: auto;/
}

.portfolio ul li {
  width: calc((100% - 48px) / 3);
  margin-bottom: 24px;
}
 
.footer {
 
  padding-right: 156px;
  padding-left: 56px;
height: 312px;
 
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  margin: 0 auto;
 height: 100%;
}

.footer-brand {
width: 264px;
  
  margin-right: -40px;
  
}

.footer-brand p {
  width: 264px;
  height: 72px;
  overflow: hidden;
} 

.footer .footer-container .sosyal {
margin-top: 0px;

}

.subscribe-form {
  display: flex;
    flex-direction: row;
}

 .subscribe-title {
  margin-top: 5px;
  text-align: left;
  margin-left: -27px;
 }
 
 .subscribe-input {
  margin-left: -30px;
 }

.subscribe-button {
  margin: 0px;
 margin-left: 30px;
}



}
